<h2><%= @fc.name %></h2>

<h4>Members</h4>
<ul>
  <% @fc.fcms.each do |fcm| %>
    <li><%= fcm.user.name %></li>
  <% end %>
</ul>

<%= link_to "Edit friend circle", edit_fc_url %>
<br>
<%= link_to "Profile", user_url(@fc.user_id) %>