<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= params.inspect %>
<%= yield %>

<% if @current_user %>
  <%= button_to "Sign Out", sessions_url, method: :delete %>
<% end %>
</body>
</html>
